/* Réinitialisation de base */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Corps de la page occupe toute la hauteur */
}


.footer {
  background-color: #200027;
  color: #f0e6d2;
  text-align: center;
  padding: 20px 30px;
  box-sizing: border-box;
  width: 100%;
}
#app-container {
  display: flex;
  flex-direction: column; /* Organise verticalement */
  min-height: 100vh; /* S'étend sur toute la hauteur de l'écran */
}

.main-content {
  flex: 1; /* Prend tout l'espace restant entre la navbar et le footer */
  padding: 20px; /* Ajoute un peu de padding autour du contenu */
  box-sizing: border-box;
}
